* {padding: 0; margin: 0}
html {
    width: 100%;
    height: 100%;
}
body {
    background-color: rgb(30, 30, 30);
    padding: 50px;
    height: 100%;    
    overflow: hidden;
}
#header {
    position: relative;
    background-color: rgb(50, 50, 50);
    height: fit-content;
    width: fit-content;
    margin: auto;
    border-radius: 40px;
    align-content: center;
    padding: 20px 40px;
    animation:
        floating 2s infinite cubic-bezier(0.5,0,0,1),
        fadeInDown 2s cubic-bezier(0.5,0,0,1),
        opacityFade 2s cubic-bezier(0.5,0,0,1)
    ;
    transition: opacity 1s cubic-bezier(0.5,0,0,1);
}
@keyframes sizeBump {
    50% {

    }
}
@keyframes floating {
    50% {translate: 0 20px;}
}
@keyframes rotateInRight {
    0% {
        rotate: 15deg;
    }
}
@keyframes rotateInLeft {
    0% {
        rotate: -15deg;
    }
}
#welcomeMsgHeader {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 60px;
    width: 100%;
    color: rgb(240,240,240);
    text-align: center;
    user-select: none;
    opacity: 0%;
    transition: opacity 1s cubic-bezier(0.5,0,0,1);
    /* background-color: white; */
}
#welcomeMsgHeaderSmall {
    font-family: "Montserrat";
    /* background-color: white; */
    font-weight: 400;
    font-size: 40px;
    width: 100%;
    color: rgb(150,150,150);
    text-align: center;
    user-select: none;
    opacity: 0%;
    transition: opacity 1s cubic-bezier(0.5,0,0,1);
}
#converter {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    column-gap: 50px;
    row-gap: 50px;
    height: 100%;
    justify-content: center;
    align-items: center;
    bottom: 10%;
}
.converterWindow {
    width: 80%;
    height: fit-content;
    background-color: rgb(50, 50, 50);
    border-radius: 40px;
    transition: 
        transform 1s cubic-bezier(0.5,0,0,1),
        box-shadow 1s cubic-bezier(0.5,0,0,1)
        ;
}
.converterWindow:hover {
    transform: scale(1.02);
    box-shadow: 0 10px 0 5px rgb(60,80,65);
}
#converterLeftWindow {
    animation:
    fadeInRight 2s cubic-bezier(0.5,0,0,1),
    rotateInRight 1.5s cubic-bezier(0.5,0,0,1),
    sizeFade 1.5s cubic-bezier(0.5,0,0,1),
    opacityFade 1.5s cubic-bezier(0.5,0,0,1)
    ;
}
#converterRightWindow {
    animation:
    fadeInLeft 2s cubic-bezier(0.5,0,0,1),
    rotateInLeft 1.5s cubic-bezier(0.5,0,0,1),
    sizeFade 1.5s cubic-bezier(0.5,0,0,1),
    opacityFade 1.5s cubic-bezier(0.5,0,0,1)
    ;
}
ul {
    list-style-type: none;
    display: flex;
    font-family: "Montserrat";
    font-weight: 500;
    color: rgb(240,240,240);
    user-select: none;
}
.currencySelector:nth-child(1) {
    border-radius: 20px 0 0 0;
    opacity: 0%;
}
.currencySelector:nth-last-child(1) {
    border-radius: 0 20px 0 0;
}
.currencySelector {
    width: 34%;
    font-size: 50px;
    text-align: center;
    height: 80px;
    line-height: 80px;
    opacity: 0%;
    transition: opacity 1s cubic-bezier(0.5,0,0,1);
}
@keyframes opacityFade {
    0% {
        opacity: 0%;
    }
}
@keyframes fadeInRight {
    0% {
        translate: -200px 0;
    }
    100% {
        translate: 0 0;
    }
}
@keyframes fadeInLeft {
    0% {
        translate: 200px 0;
    }
    100% {
        translate: 0 0;
    }
}
@keyframes fadeInDown {
    0% {
        translate: 0 -100px;
    }
}
@keyframes sizeFade {
    0% {
        transform: scale(0.1);
    }
}
@keyframes opacityDelay {
    0% {
        background-color: rgb(50, 50, 50);
        color: rgb(255,255,255);
    }
    100% {
        background-color: rgb(60,60,60);
        color: rgb(0,255,150);    
    }
}
.converterWindow .selected {
    background-color: rgb(60,60,60);
    color: rgb(0,255,150);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type='number'] {
    -moz-appearance:textfield;
}
.currencyInput {
    background: none;
    border: none;
    color: rgb(240,240,240);
    font-family: "Orbitron";
    font-size: 80px;
    margin: 20px;
    width: calc(100% - 40px);
}
.currencyInput:focus {
    border: none;
    outline: none;
}
.currencyInput::selection {
    color: rgb(0,255,150);
    background-color: rgb(60,60,60);
}
/* @media only screen and (min-width: 768px) {
    #header {
        background-color: rgb(50, 50, 50);
        height: 90px;
        width: 50%;
        min-width: fit-content;
        margin: auto;
        border-radius: 20px;
        align-content: center;
    }
    #welcomeMsgHeader {
        font-family: "Montserrat";
        font-weight: 400;
        font-size: 30px;
        width: 100%;
        color: rgb(240,240,240);
        text-align: center;
        user-select: none;
    }
    #welcomeMsgHeaderSmall {
        font-family: "Montserrat";
        font-weight: 400;
        font-size: 20px;
        width: 100%;
        color: rgb(150,150,150);
        text-align: center;
        user-select: none;
    }
    #converter {
        display: flex;
        flex-direction: column;
        column-gap: 50px;
        row-gap: 60px;
        height: 100%;
        justify-content: center;
        align-items: center;
        margin: -60px;
    }
    .converterWindow {
        width: 700px;
        height: fit-content;
        background-color: rgb(50, 50, 50);
        border-radius: 20px;
    }
} */